/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [accountID]
      ,[deviceID]
      ,[timestamp]
      ,[statusCode]
      ,[yyyymm]
      ,[latitude]
      ,[longitude]
      ,[gpsAge]
      ,[speedKPH]
      ,[heading]
      ,[altitude]
      ,[transportID]
      ,[inputMask]
      ,[outputMask]
      ,[ignitionState]
      ,[address]
      ,[dataSource]
      ,[rawData]
      ,[distanceKM]
      ,[odometerKM]
      ,[odometerOffsetKM]
      ,[geozoneIndex]
      ,[geozoneID]
      ,[creationTime]
      ,[fuelPressure]
      ,[fuelPressReg]
      ,[fuelUsage]
      ,[fuelTemp]
      ,[fuelLevel]
      ,[fuelLevel2]
      ,[fuelEconomy]
      ,[fuelTotal]
      ,[fuelRemain]
      ,[fuelTrip]
      ,[fuelIdle]
      ,[fuelPTO]
      ,[fuelEngineOn]
      ,[engineRpm]
      ,[engineHours]
      ,[engineOnHours]
      ,[engineLoad]
      ,[engineTorque]
      ,[idleHours]
      ,[workHours]
      ,[workDistanceKM]
      ,[serviceDistanceKM]
      ,[transOilTemp]
      ,[oilCoolerInTemp]
      ,[oilCoolerOutTemp]
      ,[coolantPressure]
      ,[coolantLevel]
      ,[coolantTemp]
      ,[engineTemp]
      ,[intakeTemp]
      ,[brakeGForce]
      ,[acceleration]
      ,[accelerometerXYZ]
      ,[brakePressure]
      ,[massAirFlowRate]
      ,[oilPressure]
      ,[oilLevel]
      ,[oilTemp]
      ,[airPressure]
      ,[airFilterPressure]
      ,[turboPressure]
      ,[ptoEngaged]
      ,[ptoHours]
      ,[ptoDistanceKM]
      ,[throttlePos]
      ,[brakePos]
      ,[vBatteryVolts]
      ,[j1708Fault]
      ,[faultCode]
      ,[malfunctionLamp]
      ,[tirePressure]
      ,[tireTemp]
      ,[tankLevel]
      ,[seatbeltMask]
      ,[doorStateMask]
      ,[lightsStateMask]
      ,[airbagLamp]
      ,[absLamp]
      ,[brakeLamp]
      ,[transGear]
  FROM [gts].[dbo].[MSEventData_9_2018]